<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />
    {% load static %}
    <link rel="stylesheet" href="{% static 'global.css' %}" />
    <link rel="stylesheet" href="{% static 'desktop-3.css' %}" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Kaisei Decol:wght@500;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Harmattan:wght@400&display=swap"
    />
  </head>
  <body>
    <div
      class="component-1-container"
      style="
        position: fixed;
        z-index: 1000;
        top: 50%;
        transform: translateY(-50%);
        left: 5%;
      "
    >
      <div class="component-11">
        <a href="/">
          <div class="fab5">
            <div class="state-layer5">
              <img
                class="icon5"
                loading="lazy"
                alt=""
                src="{% static 'public/icon11.svg' %}"
              />
            </div>
          </div>
        </a>
        <a href="/About_me">
          <div class="fab6">
            <div class="state-layer6">
              <img class="icon6" alt="" src="{% static 'public/icon7.svg' %}" />
            </div>
          </div>
        </a>
        <a href="/tech_stack">
          <div class="fab7">
            <div class="state-layer7">
              <img
                class="icon7"
                loading="lazy"
                alt=""
                src="{% static 'public/icon8.svg' %}"
              />
            </div>
          </div>
        </a>
        <a href="/projects">
          <div class="fab8" style="transform: scale(1.2)">
            <div class="state-layer8">
              <img class="icon8" alt="" src="{% static 'public/icon9.svg' %}" />
            </div>
          </div>
        </a>
        <a href="/connect">
          <div class="fab9">
            <div class="state-layer9">
              <img
                class="icon9"
                alt=""
                src="{% static 'public/icon10.svg' %}"
              />
            </div>
          </div>
        </a>
      </div>
    </div>
    <div class="projects" style="padding-left: 20%">
      <main class="content">
        <header class="projects-wrapper">
          <h3 class="projects1">Projects</h3>
        </header>
        <section class="sky-view-content-parent">
          <div class="sky-view-content">
            <div class="skyview">
              <div class="sky-view-background"></div>
              <div class="sky-view-label">
                <div class="skyview-sentinel">SkyView Sentinel</div>
              </div>
              <a href="https://github.com/Adinp1213/SkyView_Sentinel">
                <img
                  class="image-29-icon"
                  loading="lazy"
                  alt=""
                  src="{% static 'public/image-29@2x.png' %}"
              /></a>
            </div>
          </div>

          <div class="smartpill-wrapper">
            <div class="smartpill">
              <div class="smartpill-background"></div>
              <a href="https://github.com/Adinp1213/smart_pill_dispenser">
                <img
                  class="image-27-icon"
                  loading="lazy"
                  alt=""
                  src="{% static 'public/image-27@2x.png' %}"
                />
              </a>
              <div class="smartpill-label">
                <div class="smart-medipill">
                  <p class="smart">Smart</p>
                  <p class="medipill">MediPill</p>
                </div>
              </div>
            </div>
          </div>
          <div class="mythic">
            <div class="mythic-background"></div>
            <div class="mythic-label">
              <div class="mythic-vision">
                <p class="mythic1">Mythic</p>
                <p class="vision">Vision</p>
              </div>
            </div>
            <a href="https://github.com/Adinp1213/Mythic_Vision">
              <img
                class="image-28-icon"
                loading="lazy"
                alt=""
                src="{% static 'public/image-28@2x.png' %}"
              />
            </a>
          </div>
          <div class="aadhar-component">
            <div class="aadhar-component-child"></div>
            <a
              href="https://github.com/Adinp1213/AadhaarVerification_Tesseract"
            >
              <img
                class="image-26-icon"
                loading="lazy"
                alt=""
                src="{% static 'public/image-26@2x.png' %}"
            /></a>
            <div class="aadhar-label">
              <div class="aadharcard-verification">
                <p class="aadharcard">AadharCard</p>
                <p class="verification">Verification</p>
              </div>
            </div>
          </div>
          <div class="hand-gesture-component-wrapper">
            <div class="hand-gesture-component">
              <div class="hand-gesture-background"></div>
              <div class="hand-gesture-label">
                <div class="hand-gesture-recognition-container">
                  <p class="hand-gesture">Hand Gesture</p>
                  <p class="recognition">Recognition</p>
                </div>
              </div>
              <a
                href="https://github.com/Adinp1213/HandSign_Gesture_Recognition"
              >
                <img
                  class="image-25-icon"
                  loading="lazy"
                  alt=""
                  src="{% static 'public/image-25@2x.png' %}"
                />
              </a>
            </div>
          </div>
        </section>
      </main>
    </div>
  </body>
</html>
