<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />
    {% load static %}
    <link rel="stylesheet" href="{% static 'global.css' %}" />
    <link rel="stylesheet" href="{% static 'desktop-4.css' %}" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Kaisei Decol:wght@500;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Harmattan:wght@400&display=swap"
    />
  </head>
  <body>
    <div
      class="component-1-container"
      style="
        position: fixed;
        z-index: 1000;
        top: 50%;
        transform: translateY(-50%);
        left: 5%;
      "
    >
      <div class="component-12">
        <a href="/">
          <div class="fab10">
            <div class="state-layer10">
              <img
                class="icon10"
                loading="lazy"
                alt=""
                src="{% static 'public/icon11.svg' %}"
              />
            </div>
          </div>
        </a>
        <a href="/About_me">
          <div class="fab11">
            <div class="state-layer11">
              <img
                class="icon11"
                loading="lazy"
                alt=""
                src="{% static 'public/icon7.svg' %}"
              />
            </div>
          </div>
        </a>
        <a href="/tech_stack">
          <div class="fab12" style="transform: scale(1.2)">
            <div class="state-layer12">
              <img
                class="icon12"
                loading="lazy"
                alt=""
                src="{% static 'public/icon8.svg' %}"
              />
            </div>
          </div>
        </a>
        <a href="/projects">
          <div class="fab13">
            <div class="state-layer13">
              <img
                class="icon13"
                loading="lazy"
                alt=""
                src="{% static 'public/icon9.svg' %}"
              />
            </div>
          </div>
        </a>
        <a href="/connect">
          <div class="fab14">
            <div class="state-layer14">
              <img
                class="icon14"
                loading="lazy"
                alt=""
                src="{% static 'public/icon10.svg' %}"
              />
            </div>
          </div>
        </a>
      </div>
    </div>
    <div class="techstack" style="align-items: center">
      <section class="techstack-inner">
        <div class="frame-container">
          <div class="techstack-proficiency-wrapper">
            <h1 class="techstack-proficiency">TechStack Proficiency</h1>
          </div>
        </div>
      </section>
      <div class="category" style="padding-left: 30%">
        <div class="data-analysis-tools-wrapper">
          <b class="data-analysis-tools">Programming Languages</b>
        </div>
        <div class="component-6-wrapper">
          <div class="component-6">
            <div class="image-10-parent">
              <img
                class="image-24-icon"
                loading="lazy"
                alt=""
                src="{% static 'public/image-24@2x.png' %}"
              />
              <div class="powerbi-wrapper">
                <div class="powerbi">Python</div>
              </div>
            </div>
            <div class="image-11-parent">
              <img
                class="image-3-icon"
                loading="lazy"
                alt=""
                src="{% static 'public/image-3@2x.png' %}"
              />
              <div class="spark-wrapper">
                <div class="spark">Java</div>
              </div>
            </div>
          </div>
        </div>
        <div class="category-inner">
          <div class="frame-parent2">
            <div class="frameworks-wrapper">
              <b class="frameworks">FrameWorks</b>
            </div>
            <div class="component-3">
              <div class="image-4-parent">
                <img
                  class="image-4-icon"
                  loading="lazy"
                  alt=""
                  src="{% static 'public/image-4@2x.png' %}"
                />
                <div class="tensorflow-wrapper">
                  <div class="tensorflow">Tensorflow</div>
                </div>
              </div>
              <div class="image-8-parent">
                <img
                  class="image-8-icon"
                  loading="lazy"
                  alt=""
                  src="{% static 'public/image-8@2x.png' %}"
                />
                <div class="django-wrapper">
                  <div class="django">Django</div>
                </div>
              </div>
              <div class="image-9-parent">
                <img
                  class="image-9-icon"
                  loading="lazy"
                  alt=""
                  src="{% static 'public/image-9@2x.png' %}"
                />
                <div class="flask-wrapper">
                  <div class="flask">Flask</div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="category-name">
          <b class="frontend">FrontEnd</b>
        </div>
        <div class="component-4-wrapper">
          <div class="component-4">
            <div class="image-5-parent">
              <img
                class="image-5-icon"
                loading="lazy"
                alt=""
                src="{% static 'public/image-5@2x.png' %}"
              />
              <div class="html-wrapper">
                <div class="html">HTML</div>
              </div>
            </div>
            <div class="image-6-parent">
              <img
                class="image-6-icon"
                loading="lazy"
                alt=""
                src="{% static 'public/image-6@2x.png' %}"
              />
              <div class="css-wrapper">
                <div class="css">CSS</div>
              </div>
            </div>
            <div class="frame-parent3">
              <div class="image-7-wrapper">
                <img
                  class="image-7-icon"
                  loading="lazy"
                  alt=""
                  src="{% static 'public/image-7@2x.png' %}"
                />
              </div>
              <div class="javascript">JavaScript</div>
            </div>
          </div>
        </div>
        <div class="category-child">
          <div class="frame-parent4">
            <div class="backend-wrapper">
              <b class="backend">BackEnd</b>
            </div>
            <div class="component-5">
              <div class="image-16-parent">
                <img
                  class="image-16-icon"
                  loading="lazy"
                  alt=""
                  src="{% static 'public/image-16@2x.png' %}"
                />
                <img
                  class="image-17-icon"
                  loading="lazy"
                  alt=""
                  src="{% static 'public/image-17@2x.png' %}"
                />
              </div>
              <div class="backend-names-wrapper">
                <div class="backend-names">
                  <div class="mysql">MySQL</div>
                  <div class="mongodb">MongoDB</div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="data-analysis-tools-wrapper">
          <b class="data-analysis-tools">Data Analysis Tools</b>
        </div>
        <div class="component-6-wrapper">
          <div class="component-6">
            <div class="image-10-parent">
              <img
                class="image-10-icon"
                loading="lazy"
                alt=""
                src="{% static 'public/image-10@2x.png' %}"
              />
              <div class="powerbi-wrapper">
                <div class="powerbi">PowerBI</div>
              </div>
            </div>
            <div class="image-11-parent">
              <img
                class="image-11-icon"
                loading="lazy"
                alt=""
                src="{% static 'public/image-11@2x.png' %}"
              />
              <div class="spark-wrapper">
                <div class="spark">Spark</div>
              </div>
            </div>
          </div>
        </div>
        <div class="category-inner1">
          <div class="frame-parent5">
            <div class="cloud-technologies-wrapper">
              <b class="cloud-technologies">Cloud Technologies</b>
            </div>
            <div class="component-7">
              <div class="frame-parent6">
                <div class="image-12-wrapper">
                  <img
                    class="image-12-icon"
                    loading="lazy"
                    alt=""
                    src="{% static 'public/image-12@2x.png' %}"
                  />
                </div>
                <div class="google-cloud-platform">Google Cloud Platform</div>
              </div>
              <div class="frame-parent7">
                <div class="image-13-wrapper">
                  <img
                    class="image-13-icon"
                    loading="lazy"
                    alt=""
                    src="{% static 'public/image-13@2x.png' %}"
                  />
                </div>
                <div class="microsoft-azure">Microsoft Azure</div>
              </div>
            </div>
          </div>
        </div>
        <div class="category-name1">
          <b class="other-tools-and">Other Tools and FrameWorks</b>
        </div>
        <div class="component-8">
          <div class="image-14-parent">
            <img
              class="image-14-icon"
              loading="lazy"
              alt=""
              src="{% static 'public/image-14@2x.png' %}"
            />
            <div class="git-wrapper">
              <div class="git">Git</div>
            </div>
          </div>
          <div class="frame-parent8">
            <div class="frame-wrapper1">
              <div class="image-15-parent">
                <img
                  class="image-15-icon"
                  loading="lazy"
                  alt=""
                  src="{% static 'public/image-15@2x.png' %}"
                />
                <div class="docker-wrapper">
                  <div class="docker">Docker</div>
                </div>
              </div>
            </div>
            <div class="image-18-parent">
              <img
                class="image-18-icon"
                loading="lazy"
                alt=""
                src="{% static 'public/image-18@2x.png' %}"
              />
              <div class="figma-wrapper">
                <div class="figma">Figma</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
